<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Film Search</title>
</head>
<body>
      <h1>Film Search</h1>
      <form action="/search" method="post">
            <label for="query">Sinopsis Film:</label><br>
            <textarea id="query" name="query" rows="4" cols="50"></textarea><br>
            <label for="genre">Genre:</label><br>
            <input type="text" id="genre" name="genre"><br>
            <input type="submit" value="Cari">
    </form>
</body>
</html>
